*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
min-height: 100vh;
display: flex;
justify-content: center;
padding: 10px 0;
}

.app-header{
  display: flex;
  justify-content: center;
  width: 100%;
}

.app-main{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 600px;
  height: 500px;
  border-radius: 10px;
  border: 1px solid gainsboro;
}
.main-container,.app-info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 0 0 10px;
  width: 50%;
}
.app-info{
  align-items: center;
}
.bus-list{
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
.bus-selectStyle{
  width: 200px;
}